@{
    ViewData["Title"] = "Home";
}



<div class="row text-center spacing">
    <div class="col-sm-12">
        <h1>A Scalable Platform for gathering, integrating and using diverse online data.</h1>
    </div>
</div>
<div class="row text-center spacing">
    <div class="col-sm-12">
        <h3><i>Our Bachelor Project</i></h3>
    </div>
</div>
<div class="row background spacing">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h5>Resumé</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>Short resumé of the platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h5>Development</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <u>Links</u>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li><a>Github-link</a></li>
                            <li><a>Docker-link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

