@{
    ViewData["Title"] = "Web Page";
}



<div class="row text-center spacing">
    <div class="col-sm-12">
        <h1>A Scalable Platform for gathering, integrating and using diverse online data.</h1>
    </div>
</div>
<div class="row text-center spacing">
    <div class="col-sm-12">
        <h3><i>Our Bachelor Project</i></h3>
    </div>
</div>
<div class="row background spacing">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h5>Results</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li>First Item</li>
                            <li>Second Item</li>
                            <li>Third Item</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h5>Development</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <u>Links</u>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li>Github-link</li>
                            <li>.NET Core-link</li>
                            <li>Docker-link</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

