
@{
    ViewData["Title"] = "POST";
}

<h2>POST</h2>

<h3>
    @if (ViewData["holder"] != null)
    {
        <h4> @ViewData["holder"]</h4>
    }
    else
    { 
        <h4> Det virker ikke </h4>
    }
</h3>