@using BachelorModelViewController.Models.ViewModels.GroupViewModels
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@inject RoleManager<IdentityRole> roleManager

@model IEnumerable<MemberGroupsViewModel>

<p>
    <a asp-action="Create" class="btn btn-default">Create a new Group</a>
    <a asp-action="Apply" class="btn btn-default">Apply to a Group</a>
</p>
<table class="table table-responsive">
    <thead>
        <tr>
                <th>
                    Name
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td class="pull-right">
                @if (item.RoleId == roleManager.FindByNameAsync("Administrator").Result.Id) {
                    <a asp-action="Edit" asp-route-id="@item.GroupId" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                    <a asp-action="Delete" asp-route-id="@item.GroupId" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                }
                <a asp-action="Details" asp-route-id="@item.GroupId" class="btn btn-default"><span class="glyphicon glyphicon-zoom-in"></span></a> 
            </td>
        </tr>
        }
    </tbody>
</table>
